<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <% contacts.forEach(i => { %>
        <tr>
            <td><%= i.firstname %></td>
            <td><%= i.lastname %></td>
        </tr>
        <% }) %>
    </tbody>
</table>

<br>

<form action="/person" method="POST">
    <input type="text" name="firstname">
    <input type="text" name="lastname">
    <button>Send</button>
</form>