
html, body {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    background-color: #CCC;
}

table {
    margin: auto;
    text-align: center;
}

#msg {
    display: none;
    color: green;
    font-weight: bold;
}

#loading {
    position: absolute;
    top: 0; left: 0;
    display: none;
    padding: 10px;
    font-weight: bold;
    background-color: orange;
}

.pane {
    padding: 10px;
    float: left;
}

.left-pane {
    width: 300px
}

.right-pane {
    border-left: 1px solid #ddd;
}

.people-tbl {
    width: 100%;
    border-collapse: collapse;
}

.people-tbl tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}

.people-tbl tbody tr td {
    padding: 5px;
}